* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    flex: 1;
}

.navsty{
    background-color:#fff;
    box-shadow: 0 4px 8px rgba(55, 7, 107, 0.1);

    
}
.navbar-toggler-icon{
    background-color: black;
    border: none;
    color: #fff;
}

.navbar-nav {
    margin-left: 0;
}


.status-filled {
    color: green;
    font-weight: bold;
}

.status-empty {
    color: red;
    font-weight: bold;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.dash{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}
.dcont{
    background-color: #5897c9;
    height: 140px;
    border-radius: 10px;
}
.dcont p{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    padding: 45px;
}

a{
    text-decoration: none;
}
.recentdash h2{
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}
.rdtable{
    width: 80%;
    margin: 0 auto;
}
.vbtn{
    background: transparent;
    padding: 10px;
    width: 100px;
    height: 50px;

}
.vbtn:hover{
    background: #5897c9;
    border: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.btnsub{
    width: 100px;
}
.search-sec{
    margin: 0 auto;
    width: 90%;
}
.searchcon{
    margin: 0 auto;
    width: 50%;

}
.searchcon h1{
    text-align: center;
}
.theForm{
    padding-top:40px ;
}
.theFormOne{
    padding-top: 20px;
}
.searchcon input[type="text"],
.searchcon input[type="date"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}
.btnSub{
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;

}

@media (min-width: 992px) { 
    .navbar-nav {
        margin-left: 68em;
    }
}
